.post {
    display: flex;
    align-items: center;
}
.posts {
    border-right: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
}
.post-img {
    padding: 10px 15px 0 25px;
}

.user-name {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}

span {
    margin-left: 5px;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
}

.post-text {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
}
.post-btn {
    background: none;
    border: none;
    margin-left: auto;
    font-weight: bolder;
}

.post-list {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

.post-item {
    border: none;
    background: none;
    display: flex;
    align-items: center;
}

.dialog {
    border: 1px solid #d8d8d8;
    margin-top: 90px;
    margin-right: 322px;
}
.line {
    border-top: 1px solid #D8D8D8;
}

.food-img {
    padding: 15px 0 15px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}