.trends-modal {
    margin-top: 80px;
    margin-right: 10px;
}

.input {
    border: none;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #eff3f4;
    border-radius: 31px;
    padding: 15px 40px 15px 64px;
}

.trends {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.trends-btn {
    padding-right: 5px;
    margin-top: 20px;
    border: none;
    background: none;
}
