@font-face {
    font-family: 'Segoe UI';
    src: url('../Fonts/Segoe\ UI.eot');
    src: url('../Fonts/Segoe\ UI.eot?#iefix') format('embedded-opentype'),
    url('../Fonts/Segoe\ UI.woff') format('woff'),
    url('../Fonts/Segoe\ UI.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('../Fonts/Segoe\ UI\ Bold.eot');
    src: url('../Fonts/Segoe\ UI\ Bold.eot?#iefix') format('embedded-opentype'),
    url('../Fonts/Segoe\ UI\ Bold.woff UI.woff') format('woff'),
    url('../Fonts/Segoe\ UI\ Bold.ttf UI.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}